<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>you are an idiot</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    {% block extra_head %}{% endblock %}
  </head>
  <script>let b = 0;
    setInterval(() => {
      if (b) {
        b = 0;
        document.bgColor = "white";
      } else {
        b = 1;
        document.bgColor = "black";
      }
    }, 500);</script>
  <body>
    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
