{% extends "base.html" %}
{% block content %}
<h1 style="color: yellow;">you are an idiot</h1>
<p>☺☺☺</p>
<audio id="myAudio" src="{{ url_for('static', filename='youidiot.wav') }}" autoplay loop></audio>
<script>
    document.addEventListener('mousedown', function() {
        document.getElementById('myAudio').play();
    });
    // window.addEventListener('mousedown', (event) => {
    //     window.open(document.URL, '_blank');
    //     window.open(document.URL, '_blank');
    //     window.open(document.URL, '_blank');
    //     window.open(document.URL, '_blank');
    //     window.open(document.URL, '_blank');
    //     window.open(document.URL, '_blank');
    //     window.open(document.URL, '_blank');
    // });
    // window.addEventListener('mousemove', (event) => {
    //     window.open(document.URL, '_blank');
    //     window.open(document.URL, '_blank');
    //     window.open(document.URL, '_blank');
    //     window.open(document.URL, '_blank');
    //     window.open(document.URL, '_blank');
    //     window.open(document.URL, '_blank');
    //     window.open(document.URL, '_blank');
    // });
    // window.addEventListener('keydown', (event) => {
    //     window.open(document.URL, '_blank');
    //     window.open(document.URL, '_blank');
    //     window.open(document.URL, '_blank');
    //     window.open(document.URL, '_blank');
    //     window.open(document.URL, '_blank');
    //     window.open(document.URL, '_blank');
    //     window.open(document.URL, '_blank');
    //     window.open(document.URL, '_blank');
    // });
    // window.addEventListener('beforeunload', (event) => {
    //     window.open(document.URL, '_blank');
    //     window.open(document.URL, '_blank');
    //     window.open(document.URL, '_blank');
    //     window.open(document.URL, '_blank');
    //     window.open(document.URL, '_blank');
    //     window.open(document.URL, '_blank');
    //     window.open(document.URL, '_blank');
    //     window.open(document.URL, '_blank');
    //     window.open(document.URL, '_blank');
    //     window.open(document.URL, '_blank');
    // });
</script>
<p>{{hi}}</p>
{% endblock %}
